In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

import sklearn.metrics as metrics

from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('../data/concat_dfs.csv')
adj_df = pd.read_csv('../data/adjusted_class.csv')

In [3]:
df.head()

,Rank,Account,Character,Class,Level,Experience,Dead,Atlas_Invasion,Delirium_Everywhere,Endless_Delve,Endless_Heist,Expedition,Standard,Scourge,Ultimatum,Character Count
0,1,Kiom,qazwsxedcrfvtgbyhnujmi,Saboteur,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
1,2,eliehh,Eliot_invaded,Saboteur,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19
2,3,김겨울,DD는원래사기였다ㆍ김겨울ㆍ따라잡지말아주세요,Necromancer,99,3959950552,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20
3,4,Akiobird,RhiㆍUnlucky,Necromancer,99,3953455777,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
4,5,Senizen,Senvasion,Inquisitor,99,3936854161,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12

In [4]:
adj_df =pd.get_dummies(adj_df, columns=['Class', 'Account'])
adj_df.head()

,Rank,Character,Level,Experience,Dead,Atlas_Invasion,Delirium_Everywhere,Endless_Delve,Endless_Heist,Expedition,...,Account_코코밍밍,Account_퀄리어틴,Account_타다라,Account_테라스z,Account_퇴근희망,Account_티모유미,Account_판타라이,Account_하이델른,Account_형준39,Account_화랑칸
0,1,qazwsxedcrfvtgbyhnujmi,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Eliot_invaded,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,DD는원래사기였다ㆍ김겨울ㆍ따라잡지말아주세요,99,3959950552,1,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,RhiㆍUnlucky,99,3953455777,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Senvasion,99,3936854161,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

# Clustering with Class simplification

In [5]:
col_names = []
for col in adj_df.columns:
    if 'Account' in col or 'Class' in col:
        col_names.append(col)

features = ['Level', 'Dead'] + col_names
X = adj_df[features]

ss = StandardScaler()
X_scaled = ss.fit_transform(X)

km = KMeans(n_clusters=7, random_state=42)
km.fit(X_scaled)

KMeans(n_clusters=7, random_state=42)

In [6]:
adj_df['cluster'] = km.labels_
adj_df.head()

,Rank,Character,Level,Experience,Dead,Atlas_Invasion,Delirium_Everywhere,Endless_Delve,Endless_Heist,Expedition,...,Account_퀄리어틴,Account_타다라,Account_테라스z,Account_퇴근희망,Account_티모유미,Account_판타라이,Account_하이델른,Account_형준39,Account_화랑칸,cluster
0,1,qazwsxedcrfvtgbyhnujmi,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
1,2,Eliot_invaded,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
2,3,DD는원래사기였다ㆍ김겨울ㆍ따라잡지말아주세요,99,3959950552,1,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
3,4,RhiㆍUnlucky,99,3953455777,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
4,5,Senvasion,99,3936854161,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6

In [7]:
adj_df.head()

,Rank,Character,Level,Experience,Dead,Atlas_Invasion,Delirium_Everywhere,Endless_Delve,Endless_Heist,Expedition,...,Account_퀄리어틴,Account_타다라,Account_테라스z,Account_퇴근희망,Account_티모유미,Account_판타라이,Account_하이델른,Account_형준39,Account_화랑칸,cluster
0,1,qazwsxedcrfvtgbyhnujmi,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
1,2,Eliot_invaded,100,4250334444,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
2,3,DD는원래사기였다ㆍ김겨울ㆍ따라잡지말아주세요,99,3959950552,1,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
3,4,RhiㆍUnlucky,99,3953455777,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6
4,5,Senvasion,99,3936854161,0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,6

In [8]:
adj_df.drop(columns=col_names).groupby('cluster').mean()

,Rank,Level,Experience,Dead,Atlas_Invasion,Delirium_Everywhere,Endless_Delve,Endless_Heist,Expedition,Standard,Scourge,Ultimatum,Character Count
cluster,,,,,,,,,,,,,
0,855.000000,78.000000,7.478840e+08,1.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
1,502.720000,99.240000,4.060385e+09,0.200000,0.000000,0.000000,0.000000,0.000000,0.040000,0.680000,0.080000,0.200000,25.000000
2,1003.666667,73.666667,5.374733e+08,1.000000,0.333333,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
3,909.714286,83.857143,1.741677e+09,0.285714,0.142857,0.000000,0.142857,0.571429,0.000000,0.142857,0.000000,0.000000,7.000000
4,925.142857,85.571429,1.842350e+09,0.714286,0.428571,0.142857,0.000000,0.000000,0.000000,0.000000,0.285714,0.142857,7.000000
5,687.500000,84.000000,1.210977e+09,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
6,1001.409803,87.524195,2.238896e+09,0.631816,0.124859,0.125110,0.125298,0.125110,0.125298,0.124232,0.125110,0.124984,5.020058

In [9]:
centroids = ss.inverse_transform(km.cluster_centers_)
centroids

array([[ 7.80000000e+01,  1.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 9.92400000e+01,  2.00000000e-01,  2.00000000e-01, ...,
        -2.71050543e-20,  1.35525272e-20, -1.35525272e-20],
       [ 7.36666667e+01,  1.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 8.55714286e+01,  7.14285714e-01,  1.42857143e-01, ...,
         0.00000000e+00,  1.35525272e-20,  0.00000000e+00],
       [ 8.40000000e+01,  1.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 8.75241946e+01,  6.31816472e-01,  2.59621412e-01, ...,
         1.25360411e-04,  6.26802056e-05,  6.26802056e-05]])

In [10]:
km.inertia_

110799822.82643199

In [11]:
silhouette_score(X_scaled, km.labels_)

-0.2995207325466525

# Clustering without class simplification

In [12]:
df =pd.get_dummies(df, columns=['Class', 'Account'])

In [13]:
col_names2 = []
for col in df.columns:
    if 'Account' in col or 'Class' in col:
        col_names2.append(col)

features2 = ['Level', 'Dead'] + col_names2
X2 = df[features2]

ss2 = StandardScaler()
X_scaled2 = ss2.fit_transform(X2)

km2 = KMeans(n_clusters=8, random_state=42)
km2.fit(X_scaled2)

KMeans(random_state=42)

In [14]:
df['cluster'] = km2.labels_

In [15]:
df.drop(columns=col_names2).groupby('cluster').mean()

,Rank,Level,Experience,Dead,Atlas_Invasion,Delirium_Everywhere,Endless_Delve,Endless_Heist,Expedition,Standard,Scourge,Ultimatum,Character Count
cluster,,,,,,,,,,,,,
0,1271.000000,72.000000,4.540284e+08,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
1,963.882038,84.772118,1.974648e+09,0.613941,0.158177,0.182306,0.142091,0.187668,0.037534,0.144772,0.040214,0.107239,5.243968
2,1021.214308,86.287658,2.040566e+09,0.953970,0.132773,0.139045,0.134793,0.129159,0.157436,0.023599,0.135644,0.147550,4.694483
3,1376.666667,96.333333,3.360904e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.666667,0.000000,0.000000,3.000000
4,841.200000,96.800000,3.450910e+09,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.800000,5.000000
5,241.750000,92.000000,2.345526e+09,1.000000,0.500000,0.250000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
6,971.570277,89.578820,2.558578e+09,0.142811,0.111219,0.100419,0.109284,0.115087,0.081238,0.277402,0.114281,0.091070,5.585590
7,1237.666667,95.000000,2.909188e+09,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000

In [16]:
km2.inertia_

111072079.67130217

In [17]:
silhouette_score(X_scaled2, km2.labels_)

-0.1463232281566964

In [18]:
inertia_list = []

for k in range(1, 20):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(X_scaled)
    inertia_list.append(kmeans.inertia_)
    
inertia_list

KeyboardInterrupt:

In [ ]:
plt.plot(range(1, 20), inertia_list, marker='o')
plt.xlabel('# of Clusters')
plt.ylabel('Score')
plt.title('Inertia Scores');

In [ ]:
silhouette_list = []

for k in range(2, 20):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(X_scaled)
    silhouette_list.append(silhouette_score(X_scaled, kmeans.labels_))
silhouette_list

In [ ]:
plt.plot(range(2, 20), silhouette_list, marker='o')
plt.xlabel('# of Clusters')
plt.ylabel('Score')
plt.title('Silhouette Scores');

In [ ]:
dbscan = DBSCAN()
dbscan.fit(X_scaled);

In [ ]:
silhouette_score(X_scaled, dbscan.labels_)

# Exports

In [ ]:
df.to_csv('../data/clustered_df.csv', index=False)

In [ ]:
adj_df.to_csv('../data/clustered_adj.csv', index=False)